<html lang='pt'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/public/app-assets/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/public/app-assets/css/styles.css' rel='stylesheet' />
    <link href='/public/app-assets/css/estilo.css' rel='stylesheet' />
    <link href='/public/app-assets/css/header.css' rel='stylesheet' />
    <link href='/public/app-assets/css/menu_angola.css' rel='stylesheet' />
    <link href='/public/app-assets/css/translate.css' rel='stylesheet' />
    <title>{{pagina.name}} - {{pagina.postos.title}}</title>
  </head>
  {{{pagina.content}}}
</html>