<html lang='pt'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/public/app-assets/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/public/app-assets/css/styles.css' rel='stylesheet' />
    <link href='/public/app-assets/css/estilo.css' rel='stylesheet' />
    <link href='/public/app-assets/css/header.css' rel='stylesheet' />
    <link href='/public/app-assets/css/menu_angola.css' rel='stylesheet' />
    <link href='/public/app-assets/css/translate.css' rel='stylesheet' />
    <link
      href='/public/app-assets/css/icon_fonts/css/all_icons_min.css'
      rel='stylesheet'
    />
    <link href='/public/app-assets/css/footer.css' rel='stylesheet' />
    <link href='/public/app-assets/css/blog.css' rel='stylesheet' />

    <link
      rel='shortcut icon'
      href='/public/app-assets/img/apple-touch-icon-144x144-precomposed.png'
      type='image/x-icon'
    />
    <link
      rel='apple-touch-icon'
      type='image/x-icon'
      href='/public/app-assets/img/apple-touch-icon-57x57-precomposed.png'
    />
    <link
      rel='apple-touch-icon'
      type='image/x-icon'
      sizes='72x72'
      href='/public/app-assets/img/apple-touch-icon-72x72-precomposed.png'
    />
    <link
      rel='apple-touch-icon'
      type='image/x-icon'
      sizes='114x114'
      href='/public/app-assets/img/apple-touch-icon-114x114-precomposed.png'
    />
    <link
      rel='apple-touch-icon'
      type='image/x-icon'
      sizes='144x144'
      href='/public/app-assets/img/apple-touch-icon-144x144-precomposed.png'
    />
    <link
      rel='stylesheet'
      href='https://unpkg.com/grapesjs/dist/css/grapes.min.css'
    />
    <title>{{paginas.postos.title}}</title>
  </head>
  {{{paginas.content}}}
</html>